.teams__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 6rem;
}

.teams__container h3 {
  font-size: 24px;
  font-weight: 500;
  color: #ffff;
  text-align: center;
  
}

.teams__container p {
  font-size: 12px;
  font-weight: 400;
  color: var(--color);
  text-align: center;
  line-height: 20px;
}

.teams__container_teamFeatures-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

@media screen and (max-width: 1050px) {
  .teams__container_teamFeatures-container {
    display: block;
    column-count: 2;
    width: 100%;
    padding: 5rem 3rem;

  }


}

@media screen and (max-width: 700px) {
  
  .teams__container_teamFeatures-container {
    display: block;
    width: 400px;
  }
  .teams__container p{
    font-size: 15px;
    margin-top: 0.5rem;
  }
}




  